body {
	background-color: black;
	color: #c3c0cf;
	font-family: 'Comic Sans MS', cursive;"
}

.navbar-text{
  font-family: 'Comic Sans MS', cursive;
}

video {
  position: relative;
  width: 100%    !important;
  height: auto   !important;
}

#welcome_button{
	visibility: hidden;
	position: absolute;
	top: 88%;
	left: 40%;
	color: #c3c0cf;
}

#welcome_button::hover {
  color: white;
}

section::before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 60px; 
  visibility: hidden; 
  pointer-events: none;
}

.slider {
  width: 100%;
  height: 630px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #482054;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 620px;
  margin-right: 50px;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
}

.top6 {
  position: absolute;
}
.top6:hover {
    transform: scale(1.3);
    display: block;
    z-index: 999;
    cursor: pointer;
}

#rank_link {
  color: #9035c4;
}

#top6_text {
  width: 35%; 
  height: 80%; 
  position: absolute;
  top: 10%;
  left: 63%;
  text-align: left;
}

#char_fact {
  color: #9035c4;
}

#char_rank {
  color: white;
  text-align: left;
  font: bold;
}