/*
Black
#211522

Orchid
#613659

Lavender
#C197D2

Mauve
#D3B1C2
*/

body {
	background-color: black;
	color: #c3c0cf;
	font-family: 'Trebuchet MS', sans-serif;
}

.navbar-text{
  font-family: 'Trebuchet MS', sans-serif;
}

video {
  position: relative;
  width: 100%    !important;
  height: auto   !important;
}

#welcome_button{
	visibility: hidden;
	position: absolute;
	top: 80%;
	left: 40%;
	color: #c3c0cf;
}

#welcome_button::hover {
  color: white;
}


section::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

.slider {
  width: 100%;
  height: 630px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #482054;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 610px;
  margin-right: 50px;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
}

.paint {
  position: absolute;
  filter: grayscale(100%);
}
.paint:hover {
    display: block;
    z-index: 999;
    cursor: pointer;
}
#respond {
  position:absolute;
  width:45%;
  height:8%;
  top:45%;
  left:28%;
  font-size: 20px;
  color: #613659;
}

.top6 {
  position: absolute;
}
.top6:hover {
    transform: scale(1.3);
    display: block;
    z-index: 999;
    cursor: pointer;
}

#rank_link {
  color: #613659;
}

#top6_text {
  width: 35%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 63%;
  text-align: left;
}

#char_fact {
  color: #613659;
}

#char_rank {
  color: white;
  text-align: left;
  font: bold;
}

.btn-group{
  position: absolute;
  height: 7%;
  width: auto;
  top: 13%;
}

.btn-group button {
  border: 1px #211522;
  color: white;
  padding: 8px 13px;
  cursor: pointer;
  left: 3%;
}
#www_0{
  background-color: #613659;
}
#www_1{
  background-color: #C197D2;
}
#www_2{
  background-color: #D3B1C2;
}
#www_0:hover{
  background-color: #211522;
}
#www_1:hover{
  background-color: #211522;
}
#www_2:hover{
  background-color: #211522;
}


#who_ww {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 20%;
  /*background-color: darkblue;*/
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 0.5em sans-serif;
  border: 0px;
  border-radius: 5px;
  background-color: #211522;
}

div.tooltip {
	position: absolute;
	text-align: center;

	padding: 2px;
	font: 12px sans-serif;
	fill: white
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.axis path {
fill: #c3c0cf;
}

#pause {
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 90%;
}

#my_dataviz_timeline {
	position: absolute;
	width: 100%;
  height: 200px;
}

#poster_movie {
	position: absolute;
	width: 100%;
  top: 200px;
}

.f2-area {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 20%;
  /*background-color: darkblue;*/
}

.f2-legend {
  position: absolute;
  height: 10%;
  width: 20%;
  top: 40%;
  left: 80%;
  /*background-color: darkblue;*/
}



#finance2-area text {
  font: 12px sans-serif;
  fill: #c3c0cf;
}

#finance2-legend text {
  font: 12px sans-serif;
  fill: #c3c0cf;
}


.f2-bar-positive {
  fill: #613659;
}

.f2-bar-negative {
  fill: #D3B1C2;
}

.f2axis path,
.f2axis line {
  fill: none;
  stroke: rgb(252, 250, 250);
  shape-rendering: crispEdges;
}

.f2-btn-group{
  position: absolute;
  height: 7%;
  width: auto;
  top: 13%;
}

.f2-btn-group button {
  border: 1px #211522;
  color: white;
  padding: 8px 13px;
  cursor: pointer;
}
#finance2_0{
  background-color: #613659;
}
#finance2_1{
  background-color: #C197D2;
}
#finance2_2{
  background-color: #D3B1C2;
}

#f1_explaination{
  position:absolute;
  width:30%;
  height:auto;
  top:25%;
  left:0%;
  font-size: 18px;
  text-align: left;
}

#www_explaination{
  position:absolute;
  width:30%;
  height:auto;
  top:30%;
  left:63%;
  font-size: 15px;
  text-align: left;
}

.f1-value {
  position: absolute;
  height: 7%;
  width: auto;
  top: 12%;
  left: 60%;
}

.f1-slider {
  position: absolute;
  height: 10%;
  width: 70%;
  top: 17%;
  left: 35%;
  /*background-color: darkblue;*/
}

.f1-svg {
  position: absolute;
  height: 70%;
  width: 90%;
  top: 23%;
  left: 25%;
  /*background-color: darkblue;*/
}

.finance1_tip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  background-color: #211522;
}

.f1axis path,
.f1axis line {
  fill: none;
  stroke: rgb(252, 250, 250);
  shape-rendering: crispEdges;
}

#finance1-area text {
  font: 15px sans-serif;
  fill: #c3c0cf;
}

#f1-slider-range text {
  font: 12px sans-serif;
  fill: #c3c0cf;
}

#whose_contribution_explaination{
  position:absolute;
  width:10%;
  height:auto;
  top:40%;
  left:0%;
  font-size: 15px;
  text-align: left;
}

#wc_0{
  background-color: #613659;
}
#wc_1{
  background-color: #C197D2;
}
#wc_2{
  background-color: #D3B1C2;
}
#wc_0:hover{
  background-color: #211522;
}
#wc_1:hover{
  background-color: #211522;
}
#wc_2:hover{
  background-color: #211522;
}

#radio {
  position: absolute;
  height: 93%;
  width: 50%;
  top: 3%;
  left: 45%;
}

.fs3-area {
  position: absolute;
  height: 70%;
  width: 70%;
  top: 12%;
  left: 30%;
  /*background-color: darkblue;*/
}

.finance3_tip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  background-color: #211522;
}

#f3_explaination{
  position:absolute;
  width:30%;
  height:auto;
  top:25%;
  left:0%;
  font-size: 18px;
  text-align: left;
}